.nav{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.nav-logo{
    width: 150px;
    position: relative;
    top: -50px;
}

.nav-title{
        color: white;
        text-shadow: 2px 2px 2px blue;
        font-weight: 500px;
        font-size: 40px;
        position: relative;
        bottom: 80px;
}

.nav-update{
    color: aliceblue;
    padding-right: 1200px;
    font-size: 14px;
}

.nav-links{
    color: aliceblue;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    bottom: 70px;
    width: 400px;
    position: relative;
    justify-content: space-around;
    align-items: center;
    left: 1000px;
}

.lds-ring {
    display: flex;
    position: relative;
    width: 25px;
    height: 25px;
    top: -43px;
    right: 40px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: flex;
    position: absolute;
    width: 25px;
    height: 25px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  