.App {
  text-align: center;
  justify-content: space-between;
  color: blue;
  background-color: black;
}

.Stats {
  display: flex;
  position: relative;
  color: aliceblue;
  background-color: blue;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  height: 300px;
}

.Stats2{
  display: flex;
  position: relative;
  color: aliceblue;
  background-color: blue;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
}

.Stats-titulos{
  display: flex;
  position: relative;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  background-color: blue;
  color: aliceblue;
}

.Titulo-setor{
  color: white;
  text-shadow: 2px 2px 2px blue;
}